  
.NavBar {
    grid-row: 1;
    grid-column: 1 / span 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    padding: 0px 75px;
    border-bottom: 1px solid lightgrey;
    background-color: white;
}

.NavBar div {
    padding-right: 35px;
}
.NavBar h1 {
    font-family: "montserrat";
    font-size: 28px;
    color: #4a4a4f;
}

.NavBar span {
    font-family: "montserrat";
    font-size: 14px;
    color: #4a4a4f;
    margin-right: 15px;
    font-weight: bold;
}

.NavBar button {
    color: #4a4a4f;
    border: lightgrey solid 1px;
    background-color: white;
    padding: 5px;
    width: 100px;
}
.NavBar button:hover{
    color: #4a4a4f;
    background-color: #e6ecf0;
    border: lightgrey solid 1px;
}